# Copy only the settings you need into ~/.config/fish/conf.d/secrets.fish.
# Do not overwrite existing secrets. That file is gitignored; this example is not.
# ui.sh requires your own licensed token for skill installation and updates.
set -gx UIDOTSH_TOKEN 'REPLACE_WITH_YOUR_UI_SH_TOKEN'
